.rouge{
    background-color: red;
}

.vert {
    background-color: green;
}

.jaune {
    background-color: yellow;
}

.ligne_paire {
    background-color: cyan;
}

.ligne_impaire {
    background-color: aliceblue;
}

.ligne_select {
    font-size: 2.4em;
    background-color: orangered;
}

table {
    border-collapse: collapse;
}

th, td  {
    border: 1px black solid;
}